includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/mock/Mock.php
        - tests/Unit/Generator/FuelOrmModelTest.php
        - tests/Unit/Generator/FixtureFactoryTest.php
        - src/FuelOrmModel.php
        - tests/mock/Fixture.php
        - tests/mock/ModelImitation.php
        - tests/output
